body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
    text-align: center;
}

p {
    font-size: 1.5em;
    color: white;
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
    font-size: large;
}

#expand {
    position: absolute;
    background-color: green;
    bottom: 20px;
    right: 20px;
}

button:hover {
    filter: brightness(0.7);
}

button:active {
    filter: brightness(0.4);;
}

#options {
    position: absolute;
    bottom: 80px; /* Adjusted to place above #expand */
    max-width: 50px;
    max-height: 120px;
    right: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.slide-up, .slide-down {
    overflow:hidden;
}
.slide-up > div, .slide-down > div {
    transform: translateY(100%);
    transition: .4s ease-in-out;
}
.slide-down > div {            
    transform: translateY(0);
} 